body {
  position: relative;
  min-width: 320px;
  margin: 0;
  font-family: 'HKGrotesk', 'Verdana', sans-serif;
  background-color: @bg-color-main;
  color: @color-grey;
  font-size: @font-size-main;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}
* {
  box-sizing: border-box;
}